html, body {
    height: 100%;
    margin: 0;
  }
  
  
  .footer-container {
    background-color: rgb(86, 120, 213);
    padding: 20px;
    color: white;
    text-align: center;
    margin-top: auto; /* Push the footer to the bottom */
  }
  