.dashboard {
    margin-top: 20px;
  }
  
  .dashboard h1 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .coin-table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .coin-table th,
  .coin-table td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  .coin-table th {
    background-color: #f2f2f2;
  }
  
  .transfer-button {
    padding: 5px 10px;
    background-color: rgb(86, 120, 213);
    color: white;
    border: none;
    cursor: pointer;
  }
  
  .transfer-button:hover {
    background-color: rgb(86, 120, 213);
  }
  
  .loading,
  .no-rates {
    margin-top: 20px;
  }
  