.modal-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 750px;
  background-color: white;
  box-shadow: 0 0 24px rgba(0, 0, 0, 0.2);
  padding: 16px;
}

.two-column-form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 8px;
}

/* Adjust the styling of the text fields as needed */
.form-control {
  width: 100%;
}
